body{
    background-image: url(../img/FondoPágina.png);
}

video {
    width: 99%;
    height: auto;

}

img{
    width: 99%;
    height: auto;
}

h1, h2, h3, h4 {
    font-size: 3rem;
    font-style: italic;
    color: #00325e;
    font-family: 'Lato', sans-serif;
}

p{
    font-weight: 100;
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
    color: rgb(12, 12, 14);
    }




