@media screen and (min-width: 768px){
	nav{
		flex-direction: row;
		justify-content: space-between;
	}

	section{
		display: flex;
		justify-content: space-between;
	}

	section img{
		width: 100%
	}

}

@media screen and (min-width: 1024px){
	section{
		justify-content: center;
		padding-top: 50px;
		padding-bottom: 50px;
	}
}