<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Soriano Seguridad</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    
    <div class="templateArea bg-info linear-gradient">
        <nav class="grid__nav">    
            <a href="../Index.html">
                <img src="../img/shield.png" alt="LogoTentativo">
            </a>
            
            <ul>
                <li>
                    <a href="../Index.html">Empresa</a>
                </li>
                
                <li>
                    <a href="Servicios.html">Servicios</a>
                </li>

                <li>
                    <a href="PaquetesDeSeguridad.html">Paquetes de seguridad</a>
                </li>

                <li>
                    <a href="Clientes.html">Clientes</a>
                </li>

                <li>
                    <a href="Contacto.html">Contacto</a>
                </li>
            </ul>
        </nav>    
    </div>
        
    <div class="grid--general">
        <main class="grid__centro">
                <h2>Contamos con varias promociones </h2>
                <img src="../img/promo 1.png" alt="">
                <h3>Se adaptan a tu presupuesto</h3>
                <img src="../img/promo2.jpg" alt="">
                <p>Texto informativo. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, fugit.</p>
        </main>
    </div>

    <div class="grid--general templateArea">
        <footer class="grid__footer">
                <li s class="facebook-icon"></li>
                <li class="twitter-icon"></li>
                <li class="instagram-icon"></li>
        </footer>
    </div>


</body>
</html> 
    
    